# Приветствую менторов, оценивающих мою работу!

In [48]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
import datetime as dt

In [49]:
movie_data = pd.read_csv('movie_bd_v5.csv')
movie_data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
662,tt0421073,20000000,65569869,Street Kings,Keanu Reeves|Forest Whitaker|Chris Evans|Hugh ...,David Ayer,Their city. Their rules. No prisoners.,Tom Ludlow is a disillusioned L.A. Police Offi...,109,Action|Crime|Drama|Thriller,Fox Searchlight Pictures|Regency Enterprises|D...,4/10/2008,6.2,2008
506,tt0230011,120000000,186053725,Atlantis: The Lost Empire,Michael J. Fox|Corey Burton|Claudia Christian|...,Gary Trousdale|Kirk Wise,Atlantis is waiting...,The world's most highly qualified crew of arch...,95,Animation|Family|Adventure|Science Fiction,Walt Disney Pictures|Walt Disney Feature Anima...,6/2/2001,6.5,2001
270,tt1028532,16000000,47801389,Hachi: A Dog's Tale,Richard Gere|Joan Allen|Jason Alexander|Cary-H...,Lasse HallstrÃ¶m,"A true story of faith, devotion and undying love.",A drama based on the true story of a college p...,93,Drama|Family,Grand Army Entertainment|Scion Films|Inferno D...,6/13/2009,7.7,2009
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
1609,tt0327554,100000000,82102379,Catwoman,Halle Berry|Benjamin Bratt|Sharon Stone|Lamber...,Pitof,CATch Her In IMAX,Liquidated after discovering a corporate consp...,104,Action|Crime,Village Roadshow Pictures|DiNovi Pictures|Warn...,7/22/2004,4.3,2004

In [3]:
movie_data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

## Предобработка

In [50]:
#создаем словарь для ответов
answers = {}
#создаем новую колонку "прибыль" из разности "дохода" и "бюджета"
movie_data['profit']= movie_data['revenue'] - movie_data['budget']
#создаем новую колонку "убытки"  из разности "бюджета" и "дохода" 
movie_data['unprofit']= movie_data['budget'] - movie_data['revenue']

#создадим функцию, которая будет разделять значения строке символом "|"
def string_func(string):
    result = string.str.split('|')
    return result

#переведем формат колонки в .dt
movie_data["release_date"] = pd.to_datetime(movie_data["release_date"]) 

#создадим колонку "месяц" и запишем в нее только месяца из даты релиза всего df
movie_data["month"] = movie_data["release_date"].dt.month

## Вопрос 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [6]:
#группируем фильмы по максимальному бюджету
movie_group = movie_data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
display(movie_group.head(3))

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Name: budget, dtype: int64

## Вопрос 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = '2. Gods and Generals'

In [8]:
#группируем фильмы по максимальной длительности
movie_data.groupby(['original_title'])[
    ['runtime','imdb_id']].max().sort_values(['runtime'],ascending=False).head(3)

                                               runtime    imdb_id
original_title
Gods and Generals                                  214  tt0279111
The Lord of the Rings: The Return of the King      201  tt0167260
Grindhouse                                         191  tt0462322

## Вопрос 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh'

In [10]:
#группируем фильмы по минимальной длительности
movie_data.groupby(['original_title'])[
    ['runtime','imdb_id']].max().sort_values(['runtime'],ascending=True).head(3)

                      runtime    imdb_id
original_title
Winnie the Pooh            63  tt1449283
Return to Never Land       72  tt0280030
The Jungle Book 2          72  tt0283426

## Вопрос 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '2. 110'

In [12]:
#считаем среднее значение, округлив до ближайшего ЦЕЛОГО числа
int(round(movie_data['runtime'].mean()))

110

## Вопрос 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'

In [14]:
movie_data['runtime'].median() #считаем медианное значение

107.0

## Вопрос 6. Какой фильм самый прибыльный?

In [15]:
answers['6'] = '5. Avatar'

In [16]:
#группируем фильмы по максимальной "прибыли"
movie_data.groupby(['original_title'])[
    ['profit']].max().sort_values(['profit'],ascending=False).head(3)

                                  profit
original_title
Avatar                        2544505847
Star Wars: The Force Awakens  1868178225
Jurassic World                1363528810

## Вопрос 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '5. The Lone Ranger'

In [18]:
#группируем фильмы по максимальному уровню "убытка"
movie_data.groupby(['original_title'])[['unprofit']].max().sort_values(
['unprofit'],ascending=False).head(3)

                  unprofit
original_title
The Lone Ranger  165710090
The Alamo        119180039
Mars Needs Moms  111007242

## Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1. 1478'

In [20]:
#выясняем разницу двух колонок и на основе количсетва строк получаем ответ
big_profit = movie_data.query('revenue > budget') 
big_profit.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1866, 1867, 1868, 1869, 1870, 1871, 1875, 1877, 1883, 1884],
           dtype='int64', length=1478)

## Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '4. The Dark Knight'

In [22]:
#запишем в перемнную фильмы с релизом от 2008г
release_max = movie_data[(movie_data['release_year'] == 2008)].revenue.max() 

#используя два ключевых условия находим название фильма
movie_data[(movie_data.revenue == release_max) & 
           (movie_data['release_year'] == 2008)].original_title.unique()

array(['The Dark Knight'], dtype=object)

## Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?

In [23]:
answers['10'] = '5. The Lone Ranger'

In [24]:
#группируем фильмы по макс убытку и поздней дате релиза, сортируем по убыванию
movie_data.groupby(['original_title'])[
    ['unprofit','release_year']].max().sort_values(
    ['unprofit', 'release_year'],ascending=False).head(5)

                               unprofit  release_year
original_title
The Lone Ranger               165710090          2013
The Alamo                     119180039          2004
Mars Needs Moms               111007242          2011
The Adventures of Pluto Nash   92896027          2002
Flushed Away                   84540684          2006

## Вопрос 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = '3. Drama'

In [26]:
movie_data['genre_list'] = string_func(movie_data['genres']) #применим разделяющую функцию из предобработки
genre_list = movie_data['genre_list'].sum() #посчитаем количество жанров
#посчитаем количество появления жанра в строке и выведем самое частое
Counter(movie_data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

## Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['11'] = '1. Drama'

In [28]:
profit_genres = movie_data[movie_data.profit > 0] #запишем в перемнную данные с доходом (т.е выше ноля)
movie_group = profit_genres['genres'].str.cat(sep='|') #превратим все в одну строку
movie_group = pd.Series(movie_group.split('|')) #запишем в список, разделяя данные в строке "|"
movie_group.value_counts().head(3) #считаем количество

Drama       560
Comedy      551
Thriller    446
dtype: int64

## Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = '5. Peter Jackson'

In [30]:
#группируем режиссеров по суммарным кассовым сборам и соритруем по убыванию
movie_data.groupby(['director'])[['revenue']].sum().sort_values( 
    ['revenue'],ascending=False).head(3)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625

## Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = '3. Robert Rodriguez'

In [32]:
#трансформируем строку в массив и преобразуем каждый элемент списка в строку
movie_data = movie_data.assign(director=movie_data.director.str.split('|')).explode('director') 
#ищем в DF строки, содержащие жанр Action
action_movies = movie_data[movie_data.genres.str.contains('Action', na=False)]
action_movies.director.value_counts().head(3) #считаем количество

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Name: director, dtype: int64

## Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = '3. Chris Hemsworth'

In [34]:
actor_2012 = movie_data[movie_data.release_year ==2012].copy() #Закладываем в перемунную фильмы 2012г.
actors = actor_2012['cast'].str.cat(sep='|') #превращаем список актеров, игравших в 2012г в одну строку
actors = pd.Series(actors.split('|')) #создаем список, разделив строку знаком '|'
actors = actors.value_counts(ascending=False) #считаем количество актеров  в строке
display(actors.head(12)) #выводим результат
actor_2012.groupby(['cast'])[['revenue']].max().sort_values(
    ['revenue'],ascending=False).head(15) #группируем актеров 2012г по макс кассовым сборам

Channing Tatum         5
Sacha Baron Cohen      5
Anna Kendrick          5
Bruce Willis           5
Brendan Gleeson        4
Guy Pearce             4
Emma Thompson          4
Seann William Scott    4
Billy Connolly         4
Kate Beckinsale        4
Elizabeth Banks        4
Frances McDormand      4
dtype: int64

                                                       revenue
cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chri...  1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fie...  1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne H...  1081041287
Ian McKellen|Martin Freeman|Richard Armitage|An...  1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Lea...   877244782
Kristen Stewart|Robert Pattinson|Taylor Lautner...   829000000
Andrew Garfield|Emma Stone|Rhys Ifans|Denis Lea...   752215857
Ben Stiller|Sacha Baron Cohen|David Schwimmer|F...   746921274
Jennifer Lawrence|Josh Hutcherson|Liam Hemswort...   691210692
Will Smith|Tommy Lee Jones|Josh Brolin|Michael ...   624026776
Suraj Sharma|Irrfan Khan|Ayush Tandon|Gautam Be...   609016565
Mark Wahlberg|Mila Kunis|Seth MacFarlane|Joel M...   549368315
Kelly Macdonald|Julie Walters|Billy Connolly|Em...   538983207
John C. Reilly|Sarah Silverman|Jane Lynch|Jack ...   471222889
Hugh Jackman|Russell Crowe|Anne Hathaway|Amanda...   441809770

## Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [35]:
answers['16'] = '3. Matt Damon'

In [36]:
#скопируем данные df, обусловив, что колонка "бюджет" будет иметь данные выше средних
movie_data_2 = movie_data[movie_data.budget > movie_data.budget.mean()].copy()
#создадим серию, в которой вернется наиболее распространенный элемент 
pd.Series(movie_data_2.cast.str.cat(sep='|').split('|')).mode()[0]

'Eddie Murphy'

## Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = '2. Action'

In [38]:
cage_movies = movie_data[movie_data.cast.str.contains("Nicolas Cage")] #выделим фильмы с участием Кейджа
cage_genres = cage_movies['genres'].str.cat(sep='|') #превращаем все в одну строку
cage_genres = pd.Series(cage_genres.split('|')) #создаем список, разделив строку знаком '|'
cage_genres = cage_genres.value_counts(ascending=False).head() # считаем количество элементов строке
display(cage_genres)

Action      19
Thriller    17
Drama       12
Crime       11
Fantasy     10
dtype: int64

## Вопрос 18. Самый убыточный фильм от Paramount Pictures?

In [39]:
answers['18'] = '1. K-19: The Widowmaker'

In [51]:
#найдем в строках df все значения, где упоминается Paramount Pictures
#сгруппируем названия фильмов по минимальной прибыли, т.е убыточные
movie_data[movie_data.production_companies.str.contains('Paramount Pictures', na=False)].groupby(
movie_data['original_title'])[['profit']].min().sort_values(['profit'], ascending=True).head(2)

                        profit
original_title
K-19: The Widowmaker -64831034
Timeline             -60519261

## Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5. 2015'

In [52]:
#сгруппируем годы релизов по сумме кассовых сборов, отсортируем по убыванию
movie_data.groupby(movie_data['release_year']
                  )['revenue'].sum().sort_values(ascending=False).head(3)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

## Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1. 2014 '

In [53]:
#найдем в строках df все значения, где упоминается Warner Bros
#сгруппируем по суммарной прибыли релизов по годам
movie_data[movie_data.production_companies.str.contains("Warner Bros", na=False)].groupby(
movie_data['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

## Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '4. Сентябрь'

In [54]:
movie_data.groupby(['month'])[['original_title']].sum().sort_values(
    ['original_title'], ascending=False).head(3) #отсортируем по месяцам фильмы в порядке убывания

                                          original_title
month
9      The MartianMaze Runner: The Scorch TrialsHardc...
11     The Hunger Games: Mockingjay - Part 2Spotlight...
12     Star Wars: The Force AwakensThe RevenantThe Ha...

## Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [ ]:
answers['22'] = '2. 450 '

In [55]:
#выделим месяца в колонке df и отсортируем в порядке убывания
#посчитаем длину df
movie_data[(movie_data.month < 9) & (movie_data.month > 5)].sort_values(['month'], ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,unprofit,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,-1363528810,6
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,40865180,6
979,tt0948470,215000000,752215857,The Amazing Spider-Man,Andrew Garfield|Emma Stone|Rhys Ifans|Denis Le...,Marc Webb,The untold story begins.,Peter Parker is an outcast high schooler was a...,136,Action|Adventure|Fantasy,Columbia Pictures|Laura Ziskin Productions|Mar...,2012-06-27,6.4,2012,537215857,-537215857,6
980,tt1217209,185000000,538983207,Brave,Kelly Macdonald|Julie Walters|Billy Connolly|E...,Mark Andrews|Steve Purcell|Brenda Chapman,Change your fate.,Brave is set in the mystical Scottish Highland...,93,Animation|Adventure|Comedy|Family|Action,Walt Disney Pictures|Pixar Animation Studios,2012-06-21,6.6,2012,353983207,-353983207,6
984,tt1667889,95000000,877244782,Ice Age: Continental Drift,John Leguizamo|Ray Romano|Chris Wedge|Denis Le...,Steve Martino|Mike Thurmeier,"Manny, Diego, and Sid embark upon another adve...","Manny, Diego, and Sid embark upon another adve...",88,Animation|Comedy|Adventure|Family,Blue Sky Studios|Twentieth Century Fox Animation,2012-06-26,6.2,2012,782244782,-782244782,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,tt2106361,50000000,160602194,Into the Storm,Richard Armitage|Sarah Wayne Callies|Matt Wals...,Steven Quale,Prepare to go,The town of Silverton is in one day destroyed ...,89,Action|Thriller,New Line Cinema|Village Roadshow Pictures|Brok...,2014-08-06,5.7,2014,110602194,-110602194,8
1356,tt0430105,45000000,92374674,Four Brothers,Mark Wahlberg|Tyrese Gibson|AndrÃ© Benjamin|Ga...,John Singleton,They came home to bury mom... and her killer,Four adopted brothers return to their Detroit ...,109,Action|Crime,Paramount Pictures|Di Bonaventura Pictures,2005-08-11,6.6,2005,47374674,-47374674,8
201,tt1085492,18000000,266586800,The Prince,Bruce Willis|Jason Patric|John Cusack|Jessica ...,Brian A Miller,Mercy is for the Weak,A family man who turns out to be a retired mob...,93,Thriller|Action,Grindstone Entertainment Group|Emmett/Furla Fi...,2014-08-22,4.6,2014,248586800,-248586800,8
226,tt2247476,15000000,30127963,When the Game Stands Tall,Jim Caviezel|Michael Chiklis|Laura Dern|Clancy...,Thomas Carter,"Its Not How Hard You Fall, Its How You Get Bac...",A young coach turns a losing high school footb...,115,Drama,Mandalay Pictures|Affirm Films,2014-08-22,6.2,2014,15127963,-15127963,8
495,tt1028576,35000000,60251371,Secretariat,Diane Lane|John Malkovich|Scott Glenn|Dylan Wa...,Randall Wallace,The Impossible True Story,Housewife and mother Penny Chenery agrees to t...,123,Drama,Walt Disney Pictures|Fast Track Productions|Ma...,2010-08-20,6.6,2010,25251371,-25251371,8

## Вопрос 23. Для какого режиссера зима — самое продуктивное время года?

In [ ]:
answers['23'] = '5. Peter Jackson'

In [56]:
#скопируем значения в переменную, при этом только те, которые касаются зимних месяцев
movie_winter = movie_data[movie_data.release_date.dt.month.isin(['1', '2', '12'])].copy()
#трансформируем строку в массив и преобразуем каждый элемент списка в строку (2 строки кода)
movie_winter.director = movie_winter.director.str.split('|')
movie_winter = movie_winter.explode('director')
movie_winter.director.value_counts().sort_values(ascending=False).head(5) 
#считаем  и сортируем количество элементов для каждого режиссера

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
Name: director, dtype: int64

## Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5. Four By Two Productions'

In [57]:
#посчитаем длину названия и запишем ее в переменную
movie_data['long_title'] = movie_data['original_title'].map(lambda x: len(x))
#трансформируем строку в массив и преобразуем каждый элемент списка в строку,с уникальными значениями
movie_data['production_companies'].str.split('|').explode().unique()
movie_data.groupby(['production_companies'])[
    ['long_title']].mean().sort_values(['long_title'],ascending=False).head() 
#сгруппируем и отсортируем кинокомпании по длине названий

                                                    long_title
production_companies
Twentieth Century Fox Film Corporation|Four By ...        83.0
Walt Disney|Walden Media                                  62.0
Walt Disney Pictures|21 Laps Entertainment|Jim ...        59.0
Plan B Entertainment|Virtual Studios|Scott Free...        58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media         56.0

## Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3. Midnight Picture Show'

In [58]:
#решается по аналогии предыдущего задания
movie_data['description'] = movie_data['overview'].map(lambda x: len(x))
movie_data['production_companies'].str.split('|').explode().unique()
movie_data.groupby(['production_companies'])[
    ['description']].max().sort_values(['description'],ascending=False).head(3)

                                                    description
production_companies
Lions Gate Films|Lakeshore Entertainment|Greene...         1000
Fox Searchlight Pictures|Room 9 Entertainment               964
New Line Cinema                                             960

## Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?

In [ ]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [59]:
border = np.quantile(movie_data.vote_average, 0.99) #определяем границу в 1% по рейтингу
#сортируем фильмы входящие в 1% по убыванию шкалы рейтинга
movie_data[movie_data.vote_average >= border].sort_values(
    by='vote_average', ascending=False)['original_title'].head(10)

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
370                                         Inception
1191                                 12 Years a Slave
1183                          The Wolf of Wall Street
1081    The Lord of the Rings: The Return of the King
872                                       The Pianist
Name: original_title, dtype: object

## Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [60]:
from collections import Counter
from itertools import combinations
cast_mix = Counter() #с помощью Counter,написанного цикла (который ищет пары актеров) ищем сочетания
for i in range(0,len(movie_data)):
    actors = movie_data.cast[i].split('|')
    for j in list(combinations(actors, 2)):
        if j not in cast_mix:
            cast_mix[j] = 1
        else:
            cast_mix[j] += 1
cast_mix.most_common(3) #выводим наиболее часто встречающиеся

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [61]:
answers

{}

In [42]:
len(answers)

17